@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0A0A0A] text-white font-sans m-0;
    -webkit-font-smoothing: antialiased;
  }

  * { box-sizing: border-box; }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 4px; height: 4px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: #1E1E1E; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: #7F00B2; border-radius: 2px; }
}
